@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body {
  background-color: #000000;
  padding: 20px;
  margin: 0px;
}
body::-webkit-scrollbar {
  display: none;
}
/* ==================================== */
/* Nav styling */
/* ==================================== */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#nav {
  /* box-shadow: 10px 10px 15px grey; */
  width: auto;
  --line-offset: 0;
}
.nav-ul {
  background-color: #000000;
}
.nav-item {
  float: right;
}

.nav-item .link {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #ffffff;

  font-family: "Josefin Sans", sans-serif;
}

.nav-active {
  background-color: #49c5b6;
  color: #ffffff;
}

.logo {
  margin-left: 5px;
  /* width: 5%; */
  height: 5vh;
  float: left;
}

/* ==================================== */
/* Home Page CSS */
/* ==================================== */

.slogan {
  background-color: #23e3ef;
  color: #010423;
  margin-right: auto;
  padding: 15px;
  width: 25vw;
  border-radius: 70px 20px;
  padding-left: 3vw;
  padding-right: 3vw;
  box-shadow: 10px 10px 15px rgb(19, 19, 19);
  font-family: "Josefin Sans", sans-serif;
}

.entry {
  background-color: #23e3ef;
  color: #010423;
  margin-top: 15px;
  margin-left: 10vw;
  width: 17vw;
  margin-right: auto;
  padding: 15px;
  padding-left: 3vw;
  padding-right: 3vw;
  border-radius: 70px 20px;
  box-shadow: 10px 10px 15px rgb(20, 20, 20);
  font-family: "Josefin Sans", sans-serif;
}

.absolute-container {
  position: absolute;
  top: 35%;
  left: 60%;
  height: 35%;
  width: 35%;
}

.intro {
  border-radius: 100px;
  width: 75%;
  margin-right: auto;
  margin-left: auto;
  background-color: #000000;
}
.flex {
  display: flex;
  flex-direction: row-reverse;
}

.header {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  color: aliceblue;
}

.content {
  text-align: left;
  width: 50vw;
  font-family: "Josefin Sans", sans-serif;
  color: aliceblue;
}

.social {
  margin-top: 2vh;
  margin-right: 5%;
  height: 23vh;
}
/* ==================================== */
/* Joker Code */
/* ==================================== */
.joker {
  position: absolute;
  right: 1vw;
  bottom: -265vh;
  width: 50px;
  transform: scaleX(-1);
}

/* ==================================== */
/* Paralax Code */
/* ==================================== */
.parallax1 {
  margin-top: 20px;
  opacity: 0.95;

  /* The image used */
  background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmarketingweek.imgix.net%2Fcontent%2Fuploads%2F2017%2F05%2F12103940%2FCoding-featured.jpg%3Fauto%3Dcompress%2Cformat%2C%26crop%3Dfaces%2Centropy%2Cedges%26fit%3Dcrop%26q%3D60%26w%3D1240%26h%3D1040&f=1&nofb=1");

  /* Set a specific height */
  min-height: 75vh;
  width: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax2 {
  margin-top: 20px;
  opacity: 0.95;
  background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Flightpaintingphotography.com%2Fwp-content%2Fuploads%2F2015%2F12%2FLight-Painting-Lens-Swap-James-Deluna-Moon.jpg&f=1&nofb=1");

  /* Set a specific height */
  min-height: 75vh;
  width: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax3 {
  margin-top: 20px;
  opacity: 0.95;

  background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.photographylife.com%2Fwp-content%2Fuploads%2F2012%2F09%2FTamron-24-70mm-Sample-1.jpg&f=1&nofb=1");

  /* Set a specific height */
  min-height: 75vh;
  width: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax4 {
  margin-top: 20px;
  opacity: 0.95;

  background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.ytimg.com%2Fvi%2F4C_yfVDXgT8%2Fmaxresdefault.jpg&f=1&nofb=1");

  /* Set a specific height */
  min-height: 75vh;
  width: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* ==================================== */
/* Animations */
/* ==================================== */
li a:hover {
  background-color: #49c5b6;
  color: #ffffff;
}

/* ==================================== */
/* Spacers */
/* ==================================== */
.spacer {
  margin-top: 200px;
}
/* ==================================== */
/* Button Styles */
/* ==================================== */
button {
  text-align: center;
  display: block;
  width: 200px;
  height: 60px;
  margin-bottom: 5px;
  vertical-align: middle;
  box-shadow: 4px 4px 5px gray;
  transition: all 0.5s;
}

.a-color {
  color: #ffffff;
}

.fa-github {
  background-color: #24292e;
  border-color: #ffffff;
  border-radius: 4px;
}

.fa-twitter {
  background-color: #1da1f2;
  border-color: #ffffff;
  border-radius: 4px;
}
.fa-linkedin {
  background-color: #0077b5;
  border-color: #ffffff;
  border-radius: 4px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  font-size: 15px;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 100px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
